//colors
.c-title {
    color: #295a81;
}

.c-light {
    color: #f5f6fa;
}

.c-text {
    color: #2f3640;
}

.c-option {
    color: #353b48;
}

//back
.back-light {
    background-color: #dcdde1;
}

.back-gray {
    background-color: #f5f6fa;
}

.back-dark {
    background-color: #192a56;
}

//font
.f-lg {
    font-size: 1.8rem;
}

.f-m {
    font-size: 1.4rem;
}

.f-s {
    font-size: 1rem;
}

.w-m {
    width: 5rem;
}



.link {
    text-decoration: none;
    color: brown;
}

.link:hover {
    text-decoration: underline;
    color: brown;
}

.hover-none:hover {
    text-decoration: none;
    color: white;
}

//extra

.room-form {
    display: grid;
    justify-content: start;
    grid-gap: 1rem;
}

.person-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-title {
    width: 100%;
    border-radius: 4px;
    padding: .8rem;
    text-align: center;
}

//responsive

@media only screen and (min-width : 425px)
{
    .area {
        display: grid;
        grid-template-columns: auto auto;
        gap: 5px;
        align-items: first baseline;
    }
}

@media only screen and (min-width : 768px)
{
    .area {
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 5px;
        align-items: first baseline;
    }
}
